@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #1C1917;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.firstDesc {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

.navbar {
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
}

.navbar .nav-links li {
  margin-left: 20px;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: #f0f0f0;
}

.second_section {
  padding: 100px 10px;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.second_section:nth-of-type(even) {
  background-color: #e9e9e9;
}

.first_section {
  background-image: url("./img/img_hero.png");
  background-color: #1c1917;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.hero .title {
  color: white;
  font-size: 51px;
}

button {
  color: white;
  background-color: #1e4dc7;
  border-radius: 50px;
  height: 55px;
  width: 240px;
  border: none;
  cursor: pointer;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.text-center input {
  height: 60px;
  border-radius: 20px;
  width: 270px;
}

.feedback {
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

/* second-section */

.second_section,
.third_section,
.fourht_section {
  background-color: #1c1917;
}

.about_us {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.about_us h2 {
  color: #1c63ec;
  font-size: 40px;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.desc span:first-child {
  margin-bottom: 30px;
}

.desc span {
  color: white;
  font-size: 28px;
}

.num {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.separator {
  width: 2px;
  height: 100px;
  background-color: white;
  margin: 0 20px;
}

.num h1 {
  margin-top: 10px;
  color: white;
  font-size: 70px;
  transition: opacity 1s ease;
}

/* third-section */

.server {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.server h2 {
  color: #1c63ec;
  font-size: 40px;
}

.brands {
  margin-top: 100px;
  gap: 65px;
  display: flex;
}
.principles {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 80px;
}
.principles_right {
  width: 70%;
}
.principles h3{
  color: #1c63ec;
  font-size: 40px;
}
.principles-item {
  border-bottom: 1px solid #353535;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.principles-item:last-child {
  border-bottom: 1px solid transparent;
}
.principles-item-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.principles-item-header h4 {
  font-size: 30px;
  color: #EBEBEB;
  text-transform: uppercase;
  font-weight: 400;
}
.principles-item-header span {
  color: #868686;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
}
.principles-item p {
  font-size: 16px;
  color: #EBEBEB;
  line-height: 20px;
}
.promo {
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 60px;
  position: relative;
}
.promo_text_left,
.promo_text_right {
  position: absolute;
}

.promo_text_left {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  top: 40px;
  left: 30px;
  color: #EBEBEB;
  width: 443px;
  font-weight: 600;
}

.promo_text_right {
  font-weight: 500;
  width: 356px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  bottom: 50px;
  right: 150px;
}
.seven_section {
  margin-bottom: 80px;
}
.application {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}
.application_right {
  width: 50%;
}
.application h3{
  color: #1c63ec;
  font-size: 40px;
}
.contactForm {
  max-width: 400px;
  padding: 1em;
  border-radius: 5px;
}
.contactForm h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #868686;
  margin-bottom: 25px;
  line-height: 25px;
}
.contactForm div {
  position: relative;
  margin-bottom: 35px;
  width: 100%;
}
.label {
  position: absolute;
  top: 30%;
  left: 10px;
  margin-bottom: .5em;
  transform: translateY(-50%);
  color: #868686;
  transition: all 0.3s;
  pointer-events: none;
}
.contactForm .input_comments {
  padding: 10px 5px 50px;
}
.contactForm input {
  border: none;
  border-bottom: 1px solid #9D9D9D;
  padding: 10px 5px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  color: #e9e9e9;
}

.contactForm input:-webkit-autofill,
.contactForm :-webkit-autofill:hover, 
.contactForm :-webkit-autofill:focus {
  border: none;
  border-bottom: 1px solid #9D9D9D;
  -webkit-text-fill-color: #e9e9e9;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
.contactForm input:focus-visible, .contactForm :not(:placeholder-shown) {
  outline: none;
}
.contactForm input:focus + .label, .contactForm input:not(:placeholder-shown) + .label {
  top: 0;
  left: 10px;
  transform: translateY(-100%);
  font-size: 0.8em;
}
.contactForm button {
  padding: 0.7em;
  color: #EBEBEB;
  background-color: #1E4DC7;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.contactForm button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.application_text {
  font-size: 14px;
  line-height: 20px;
  color: #9D9D9D;
  letter-spacing: 1px;
}
.application_text a{
  text-decoration: none;
  cursor: pointer;
  color: #1E4DC7;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(img/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
}
.footer_inner {
  display: flex;
  flex-wrap: wrap;
  /* gap: 80px; */
  justify-content: space-between;
}
.footer_inner h3{
  color: #1c63ec;
  font-size: 40px;
  margin-bottom: 20px;
}
.footer_inner_txt {
  font-size: 20px;
  color: #EBEBEB;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 25px;
  width: 400px;
  margin-bottom: 40px;
}
.footer_list {
  padding: 0;
  margin: 0;
}
.footer_list li {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  list-style: none;
}
.footer_list a {
  text-decoration: none;
  cursor: pointer;
  color: #EBEBEB;
}
.footer_info {
  width: 260px;
}
.footer_item {
  margin-bottom: 30px;
}
.footer_item p {
  margin-bottom: 20px;
  font-size: 20px;
  color: #868686;
  text-transform: uppercase;
  line-height: 30px;
}
.footer_item div {
  font-size: 20px;
  line-height: 30px;
  color: #EBEBEB;
}
.footer_item_last {
  color: #EBEBEB;
  font-size: 20px;
  line-height: 30px;
}
.wp_btn,
.tg_btn {
  width: 170px;
}
.footer_bottom {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #EBEBEB;
}
.promo_img_mini {
  display: none;
}
.custom_alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Start hidden */
  visibility: hidden; /* Ensure it's not clickable when hidden */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.custom_alert.open {
  display: flex;
  opacity: 1; /* Fully visible */
  visibility: visible; /* Allow interaction */
 }
.custom_alert_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1C1917;
  max-width: 410px;
  height: 410px;
  flex-direction: column;
  align-items: center;
  border-top: none;
  padding: 30px 40px;
  border-radius: 50px;
}
.custom_alert_header {
  align-self: flex-end;
}
.custom_alert_txt {
  color: #EBEBEB;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
  text-align: center;
}
.custom_alert_txt_mini {
  color: #EBEBEB;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.custom_alert_inner button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #EBEBEB;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1050px){ 
  .principles-item-header h4 {
    font-size: 25px;
  }

  .principles h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 850px){
  .about_us h2,
  .server h2 ,
  .application h3,
  .footer_inner h3 {
    font-size: 30px;
  }
  .footer_inner_txt {
    font-size: 16px;
    font-weight: 400;
  }
  .promo_text_left {
    font-size: 20px;
  }
  .application_right {
    width: 100%;
  }
  .application  {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contactForm  {
    max-width: 100%;
  }
  .contactForm button {
    margin: 0 auto;
  }
  .application_text {
    text-align: center;
  }
  .principles_right {
    width: 100%;
  }
  .wp_btn,
  .tg_btn {
    color: transparent;
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: initial;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .tg_btn{
    background-image: url("./img/tg-icon.svg");
  }
  .wp_btn{
    background-image: url("./img/wp-icon.svg");
  }
  .footer_inner{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .about_us h2,
  .server h2 ,
  .principles h3,
  .application h3,
  .footer_inner h3 {
    font-size: 25px;
    font-weight: 600;
  }
  .principles-item-header h4 {
    font-size: 16px;
  }
  .application_text  {
    font-size: 13px;
  }
  .principles-item-header span {
    display: none;
  }
  .promo_text_left,
  .promo_img {
    display: none;
  }
  .promo_img_mini {
    display: block;
    width: 100%;
  }
  .promo_text_right {
    left: 40px;
    right: 0;
    bottom: 0;
    top: 150px;
  }
}

@media screen and (max-width: 550px) {
  .promo_text_right {
    top: 70px;
    font-size: 10px;
    width: 154px;
    line-height: 13px;
  }
  .contactForm {
    padding-left: 0;
  }
  .application {
    justify-content: baseline;
    align-items: baseline;
  }
  
  .contactForm button {
    width: 100%;
    margin: initial;
  }
  .application_text {
    text-align: left;
  }
  .footer_inner{
    align-items: initial;
    justify-content: initial;
    text-align: initial;
  }
  .footer_inner_txt {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer_list {
    display: none;
  }
  .footer_item p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .footer_item div,
  .footer_item_last {
    font-size: 16px;
  }
  .footer_item  {
    margin-bottom: 20px;
  }
  .footer_bottom {
    margin-top: 30px;
  }
}